{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}
  <!-- data tables css -->
  <link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/buttons.bootstrap5.min.css' %}">

  <style>
      .filter-container {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 1rem;
          margin-bottom: 20px;
      }

      .filter-item {
          display: flex;
          flex-direction: column;
      }
  </style>
{% endblock extrastyle %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Ultra Grid Systems</h5>
          <small>Show List of Ultra Grid Systems</small>
        </div>
        <div class="card-body">
          <div class="dt-responsive table-responsive">
            <a href="#" class="btn btn-success"><i class="fas fa-plus"></i> Add New Ultra Grid</a>
            <a href="#" class="btn btn-danger"><i class="fas fa-plus"></i> Stop All Ultra Grid</a>
            <div class="col-sm-6">
              <label for="api_type">API Type:</label>
              <select class="form-control" id="api_type">
                <option value="">All Types</option>
                {% for api in apis %}
                  <option value="{% url 'trades:ultra_grid_list_with_api' api.id %}">{{ api.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-6 col-md-3 ">
              <div
                      class="bot-box bg-secondary bg-gradient my-2 text-white text-center p-10 mx-2 card border border-secondary rounded">
                <i class="fas fa-robot fa-2x mb-2"></i>
                <span>Total Bots</span>
                <span>{{ bot.Total_bots }}</span>
              </div>
            </div>
            <div class="col-6 col-md-3 ">
              <div
                      class="bot-box bg-success bg-gradient my-2 text-white text-center p-10 mx-2 card border border-success rounded">
                <i class="fas fa-robot fa-2x mb-2"></i>
                <span>Running Bots</span>
                <span>{{ bot.Running_bots }}</span>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div
                      class="bot-box bg-warning bg-gradient my-2 text-white text-center p-10 mx-2 card border border-warning rounded">
                <i class="fas fa-robot fa-2x mb-2"></i>
                <span>Stopped Bots</span>
                <span>{{ bot.Stop_bots }}</span>
              </div>
            </div>
            <div class="col-6 col-md-3 ">
              <div
                      class="bot-box bg-danger bg-gradient my-2 text-white text-center p-10 mx-2 card border border-danger rounded">
                <i class="fas fa-robot fa-2x mb-2"></i>
                <span>Busy Bots</span>
                <span>{{ bot.Busy_bots }}</span>
              </div>
            </div>
          </div>

          <div class="dt-responsive table-responsive">
            <div class="filter-container">
              {#              <div class="filter-item">#}
              {#                <label for="api_name">API:</label>#}
              {#                <input class="form-control" type="text" id="api_name" placeholder="Enter api name"#}
              {#                       name="api_name">#}
              {#              </div>#}
              <div class="filter-item">
                <label for="system_name">System Name:</label>
                <input class="form-control" type="text" id="system_name" placeholder="Enter system name"
                       name="system_name">
              </div>
              <div class="filter-item">
                <label for="currency">Currency:</label>
                <input class="form-control" type="text" id="currency" placeholder="Enter currency">
              </div>
              <div class="filter-item">
                <label for="market_type">Market Type:</label>
                <select class="form-control" id="market_type">
                  <option value="">All Types</option>
                  <option value="Futures">Futures</option>
                  <option value="Spot">Spot</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="market_strategy">Market Strategy:</label>
                <select class="form-control" id="market_strategy">
                  <option value="">All Strategies</option>
                  <option value="Isolated">Isolated</option>
                  <option value="Cross">Cross</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="leverage">Leverage:</label>
                <input class="form-control" type="number" id="leverage" placeholder="Enter leverage">
              </div>
              <div class="filter-item">
                <label for="system_fund_rate">Fund Rate:</label>
                <input class="form-control" type="number" id="system_fund_rate" placeholder="Enter fund rate">
              </div>
              <div class="filter-item">
                <label for="min_balance">Minimum Balance:</label>
                <input class="form-control" type="number" id="min_balance" name="min">
              </div>
              <div class="filter-item">
                <label for="max_balance">Maximum Balance:</label>
                <input class="form-control" type="number" id="max_balance" name="max">
              </div>
              <div class="filter-item">
                <label for="status">Status:</label>
                <select class="form-control" id="status">
                  <option value="">All Statuses</option>
                  <option value="Running">Running</option>
                  <option value="Busy">Busy</option>
                  <option value="Stop">Stop</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="profit_amount">Profit Amount:</label>
                <input class="form-control" type="number" id="profit_amount" placeholder="Enter profit amount">
              </div>
              <div class="filter-item">
                <label for="profit_percentages">Profit Percentages:</label>
                <input class="form-control" type="number" id="profit_percentages" placeholder="Enter profit %">
              </div>
              <div class="filter-item">
                <label for="stop_loss_is_enabled">Stop Loss:</label>
                <select class="form-control" id="stop_loss_is_enabled">
                  <option value="">All</option>
                  <option value="True">Enabled</option>
                  <option value="False">Disabled</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="is_in_market_place">In Market Place:</label>
                <select class="form-control" id="is_in_market_place">
                  <option value="">All</option>
                  <option value="True">Yes</option>
                  <option value="False">No</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="buy_is_enabled">Buy Enabled:</label>
                <select class="form-control" id="buy_is_enabled">
                  <option value="">All</option>
                  <option value="True">Enabled</option>
                  <option value="False">Disabled</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="sell_is_enabled">Sell Enabled:</label>
                <select class="form-control" id="sell_is_enabled">
                  <option value="">All</option>
                  <option value="True">Enabled</option>
                  <option value="False">Disabled</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="start_time">Start Date:</label>
                <input class="form-control" type="date" id="start_time">
              </div>
              <div class="filter-item">
                <label for="created_at">Created At Grater Than:</label>
                <input class="form-control" type="date" id="created_at">
              </div>
              {#              <div class="filter-item">#}
              {#                <label for="err_msg">Error Message:</label>#}
              {#                <input class="form-control" type="text" id="err_msg" placeholder="Enter error message">#}
              {#              </div>#}
            </div>
          </div>

          <div class="dt-responsive table-responsive">
            <table id="alt-pg-dt" class="table table-striped table-hover table-bordered nowrap">
              <thead>
              <tr>
                <th>#</th>
                <th>name</th>
                <th>currency</th>
                <th>type</th>
                <th>strategy</th>
                <th>leverage</th>
                <th>fund_rate</th>
                <th>balance</th>
                <th>status</th>
                <th>p_amount</th>
                <th>p_percentages</th>
                <th>part_number</th>
                <th>order_number</th>
                <th>stop_loss</th>
                <th>market_place</th>
                <th>buy_is_enabled</th>
                <th>sell_is_enabled</th>
                <th>start_time</th>
                <th>created_at</th>
                <th>api</th>
                <th>err_msg</th>
                {#                <th>Actions</th>#}
              </tr>
              </thead>
              <tbody>
              {% for ultra in ultragridsystem_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'trades:ultra_grid_parts' ultra.id %}">{{ ultra.system_name }}</a></td>
                  <td>{{ ultra.currency }}</td>
                  <td>{{ ultra.get_market_type_display }}</td>
                  <td>{{ ultra.get_market_strategy_display }}</td>
                  <td>{{ ultra.leverage }}</td>
                  <td>{{ ultra.system_fund_rate }}</td>
                  <td>{{ ultra.system_balance }}</td>
                  <td>
                    {% if ultra.status == 0 %}
                      <a href="#!" class="label theme-bg f-12 text-white">{{ ultra.get_status_display }}</a>
                    {% elif ultra.status == 1 %}
                      <a href="#!" class="label theme-bg2 f-12 text-white">{{ ultra.get_status_display }}</a>
                    {% else %}
                      <a href="#!" class="label theme-bg2 f-12 text-white">{{ ultra.get_status_display }}</a>
                    {% endif %}
                  </td>
                  <td>{{ ultra.profit_amount }}</td>
                  <td>{{ ultra.profit_percentages }}</td>
                  <td>{{ ultra.part_number }}</td>
                  <td>{{ ultra.order_number }}</td>
                  <td>{{ ultra.stop_loss_is_enabled }}</td>
                  <td>{{ ultra.is_in_market_place }}</td>
                  <td>
                    {% if ultra.buy_is_enabled %}
                      <div class="form-group">
                        <div class="switch switch-success d-inline m-r-10">
                          <input type="checkbox" id="switch-s-1-2-{{ ultra.id }}" checked>
                          <label for="switch-s-1-2-{{ ultra.id }}" class="cr"></label>
                        </div>
                        <label>{{ ultra.buy_is_enabled }}</label>
                      </div>
                    {% else %}
                      <div class="form-group">
                        <div class="switch switch-danger d-inline m-r-10">
                          <input type="checkbox" id="switch-d-1-3-{{ ultra.id }}" checked>
                          <label for="switch-d-1-3-{{ ultra.id }}" class="cr"></label>
                        </div>
                        <label>{{ ultra.buy_is_enabled }}</label>
                      </div>
                    {% endif %}
                  </td>
                  <td>
                    {% if ultra.sell_is_enabled %}
                      <div class="form-group">
                        <div class="switch switch-success d-inline m-r-10">
                          <input type="checkbox" id="switch-s-1-4-{{ ultra.id }}" checked>
                          <label for="switch-s-1-4-{{ ultra.id }}" class="cr"></label>
                        </div>
                        <label>{{ ultra.sell_is_enabled }}</label>
                      </div>
                    {% else %}
                      <div class="form-group">
                        <div class="switch switch-danger d-inline m-r-10">
                          <input type="checkbox" id="switch-d-1-5-{{ ultra.id }}" checked>
                          <label for="switch-d-1-5-{{ ultra.id }}" class="cr"></label>
                        </div>
                        <label>{{ ultra.sell_is_enabled }}</label>
                      </div>
                    {% endif %}
                  </td>
                  <td>{{ ultra.start_time|date:"m/d/Y" }}</td>
                  <td>{{ ultra.created_at|date:"m/d/Y" }}</td>
                  <td>{{ ultra.api }}</td>
                  <td>{{ ultra.err_msg }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="10" class="text-center">No Ultra Grid systems found</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/vfs_fonts.js' %}"></script>

  <script>
      // Ensure the DOM is fully loaded
      $(document).ready(function () {
          const apiTypeSelect = document.getElementById('api_type');

          apiTypeSelect.addEventListener('change', function () {
              const selectedUrl = this.value;
              console.log('selectedUrl: ', selectedUrl)
              if (selectedUrl) {
                  window.location.href = selectedUrl;  // Redirect to the selected URL
              }
          });

          var table = $('#alt-pg-dt').DataTable({
              "pagingType": "full_numbers",
              dom: 'Bfrtip',
              buttons: [{
                  extend: 'copyHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  extend: 'excelHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  extend: 'pdfHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  text: 'JSON',
                  action: function (e, dt, button, config) {
                      var data = dt.buttons.exportData();
                      $.fn.dataTable.fileSave(new Blob([JSON.stringify(data)]), 'Export.json');
                  }
              }, 'colvis']
          });

          // Custom filtering function for advanced filters
          $.fn.dataTable.ext.search.push(
              function (settings, data, dataIndex) {
                  // Filter values
                  var systemName = $('#system_name').val().toLowerCase();
                  {#var apiName = $('#api_name').val().toLowerCase();#}
                  var currency = $('#currency').val().toLowerCase();
                  var marketType = $('#market_type').val();
                  var marketStrategy = $('#market_strategy').val();
                  var leverage = parseFloat($('#leverage').val()) || -Infinity;
                  var systemFundRate = parseFloat($('#system_fund_rate').val()) || -Infinity;
                  var profitAmount = parseFloat($('#profit_amount').val()) || -Infinity;
                  var profitPercentages = parseFloat($('#profit_percentages').val()) || -Infinity;
                  var minBalance = parseFloat($('#min_balance').val()) || -Infinity;
                  var maxBalance = parseFloat($('#max_balance').val()) || Infinity;
                  var status = $('#status').val();
                  var stopLossIsEnabled = $('#stop_loss_is_enabled').val();
                  var isInMarketPlace = $('#is_in_market_place').val();
                  var buyIsEnabled = $('#buy_is_enabled').val().trim();
                  var sellIsEnabled = $('#sell_is_enabled').val().trim();
                  var createdAt = new Date($('#created_at').val());
                  var startTime = new Date($('#start_time').val());
                  var rowCreatedAt = new Date(data[19]); // 'created_at' in column 17
                  var rowStartTime = new Date(data[18]); // 'start_time' in column 16

                  // Values from the table row
                  var rowBalance = parseFloat(data[7]) || 0;  // 'system_balance' is in column 6
                  var rowStatus = data[8]; // 'status' in column 8
                  var rowStopLoss = data[14]; //=== 'True' ? 'True' : 'False'; // 'stop_loss_is_enabled' in column 12
                  var rowMarketPlace = data[15]; //=== 'True' ? 'True' : 'False'; // 'is_in_market_place' in column 13
                  var rowBuyEnabled = data[16].trim(); //=== 'True' ? 'True' : 'False'; // 'buy_is_enabled' in column 14
                  var rowSellEnabled = data[17].trim(); //=== 'True' ? 'True' : 'False'; // 'sell_is_enabled' in column 15
                  var rowLeverage = parseFloat(data[5]) || 0; // 'leverage' in column 5
                  var rowFundRate = parseFloat(data[6]) || 0; // 'system_fund_rate' in column 6
                  var rowProfitAmount = parseFloat(data[9]) || 0; // 'profit_amount' in column 9
                  var rowProfitPercentages = parseFloat(data[10]) || 0; // 'profit_percentages' in column 10

                  // Custom conditions to filter the rows
                  return data[1].toLowerCase().includes(systemName) &&
                      data[2].toLowerCase().includes(currency) &&
                      (marketType === "" || data[3] === marketType) &&
                      (marketStrategy === "" || data[4] === marketStrategy) &&
                      rowBalance >= minBalance &&
                      rowBalance <= maxBalance &&
                      (status === "" || rowStatus === status) &&
                      (stopLossIsEnabled === "" || rowStopLoss === stopLossIsEnabled) &&
                      (isInMarketPlace === "" || rowMarketPlace === isInMarketPlace) &&
                      (buyIsEnabled === "" || rowBuyEnabled === buyIsEnabled) &&
                      (sellIsEnabled === "" || rowSellEnabled === sellIsEnabled) &&
                      rowLeverage >= leverage &&
                      rowFundRate >= systemFundRate &&
                      rowProfitAmount >= profitAmount &&
                      rowProfitPercentages >= profitPercentages &&
                      (isNaN(createdAt.getTime()) || rowCreatedAt >= createdAt) &&
                      (isNaN(startTime.getTime()) || rowStartTime >= startTime);
                  {#data[20].toLowerCase().includes(apiName);#}
              }
          );

          // Event handlers for filter inputs with passive event listeners
          $(' #system_name, #currency, #market_type, #market_strategy, #leverage, #system_fund_rate, #min_balance, #max_balance, #status, #profit_amount, #profit_percentages, #stop_loss_is_enabled, #is_in_market_place, #buy_is_enabled, #sell_is_enabled, #created_at, #start_time').on('keyup change', function () {
              table.draw();
          });

          // Mark the inputs that are expected to scroll
          $(' #system_name, #currency, #market_type, #market_strategy, #leverage, #system_fund_rate, #min_balance, #max_balance, #status, #profit_amount, #profit_percentages, #stop_loss_is_enabled, #is_in_market_place, #buy_is_enabled, #sell_is_enabled, #created_at, #start_time').css('touch-action', 'pan-y');
      });
  </script>

{% endblock extra_js %}
