{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}
  <!-- data tables css -->
  <link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/buttons.bootstrap5.min.css' %}">

  <style>
    .filter-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-bottom: 20px;
    }

    .filter-item {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock extrastyle %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Ultra DCA Parts</h5>
          <small>Show List of Ultra Grid Parts</small>
        </div>
        <div class="card-body">
          <div class="dt-responsive table-responsive">
            <div class="filter-container">
              <div class="filter-item">
                <label for="part_name">Part Name:</label>
                <input class="form-control" type="text" id="part_name" placeholder="Enter part name" name="part_name">
              </div>
              <div class="filter-item">
                <label for="start_order_number">Start Order Number:</label>
                <input class="form-control" type="number" id="start_order_number" placeholder="Enter start order number"
                       name="start_order_number">
              </div>
              <div class="filter-item">
                <label for="end_order_number">End Order Number:</label>
                <input class="form-control" type="number" id="end_order_number" placeholder="Enter end order number"
                       name="end_order_number">
              </div>
              <div class="filter-item">
                <label for="order_count">Order Count:</label>
                <input class="form-control" type="number" id="order_count" placeholder="Enter order count"
                       name="order_count">
              </div>
              <div class="filter-item">
                <label for="part_fund_rate">Part Fund Rate:</label>
                <input class="form-control" type="number" id="part_fund_rate" placeholder="Enter part fund rate"
                       name="part_fund_rate">
              </div>
              <div class="filter-item">
                <label for="next_order_condition">Next Order Condition:</label>
                <input class="form-control" type="number" id="next_order_condition"
                       placeholder="Enter next order condition" name="next_order_condition">
              </div>
              <div class="filter-item">
                <label for="take_profit_condition">Take Profit Condition:</label>
                <input class="form-control" type="number" id="take_profit_condition"
                       placeholder="Enter take profit condition" name="take_profit_condition">
              </div>
              <div class="filter-item">
                <label for="created_at">Created At Greater Than:</label>
                <input class="form-control" type="date" id="created_at" name="created_at">
              </div>
            </div>
          </div>

          <div class="dt-responsive table-responsive">
            <table id="alt-pg-dt" class="table table-striped table-hover table-bordered nowrap">
              <thead>
              <tr>
                <th>#</th>
                <th>name</th>
                <th>start_order_number</th>
                <th>end_order_number</th>
                <th>order_count</th>
                <th>part_fund_rate</th>
                <th>next_order_condition</th>
                <th>take_profit_condition</th>
                <th>created_at</th>
              </tr>
              </thead>
              <tbody>
              {% for ultra in ultragridpart_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'trades:ultra_grid_orders' ultra.id %}">{{ ultra.part_name }}</a></td>
                  <td>{{ ultra.start_order_number }}</td>
                  <td>{{ ultra.end_order_number }}</td>
                  <td>{{ ultra.order_count }}</td>
                  <td>{{ ultra.part_fund_rate }}</td>
                  <td>{{ ultra.next_order_condition }}</td>
                  <td>{{ ultra.take_profit_condition }}</td>
                  <td>{{ ultra.created_at|date:"m/d/Y" }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="10" class="text-center">No Grid Parts found</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/vfs_fonts.js' %}"></script>

  <script>
      // Ensure the DOM is fully loaded
      $(document).ready(function () {
          var table = $('#alt-pg-dt').DataTable({
              "pagingType": "full_numbers",
              dom: 'Bfrtip',
              buttons: [{
                  extend: 'copyHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  extend: 'excelHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  extend: 'pdfHtml5',
                  exportOptions: {
                      columns: ':visible'
                  }
              }, {
                  text: 'JSON',
                  action: function (e, dt, button, config) {
                      var data = dt.buttons.exportData();
                      $.fn.dataTable.fileSave(new Blob([JSON.stringify(data)]), 'Export.json');
                  }
              }, 'colvis']
          });

          // Custom filtering function
          $.fn.dataTable.ext.search.push(
              function (settings, data, dataIndex) {
                  var partName = $('#part_name').val().toLowerCase();
                  var startOrderNumber = parseInt($('#start_order_number').val()) || -1;
                  var endOrderNumber = parseInt($('#end_order_number').val()) || -1;
                  var orderCount = parseInt($('#order_count').val()) || -1;
                  var partFundRate = parseFloat($('#part_fund_rate').val()) || -1;
                  var nextOrderCondition = parseFloat($('#next_order_condition').val()) || -1;
                  var takeProfitCondition = parseFloat($('#take_profit_condition').val()) || -1;
                  var createdAt = new Date($('#created_at').val());
                  var rowCreatedAt = new Date(data[8]); // Created at column index

                  return data[1].toLowerCase().includes(partName) &&
                      (startOrderNumber === -1 || parseInt(data[2]) === startOrderNumber) &&
                      (endOrderNumber === -1 || parseInt(data[3]) === endOrderNumber) &&
                      (orderCount === -1 || parseInt(data[4]) === orderCount) &&
                      (partFundRate === -1 || parseFloat(data[5]) >= partFundRate) &&
                      (nextOrderCondition === -1 || parseFloat(data[6]) >= nextOrderCondition) &&
                      (takeProfitCondition === -1 || parseFloat(data[7]) >= takeProfitCondition) &&
                      (isNaN(createdAt.getTime()) || rowCreatedAt >= createdAt);
              }
          );

          // Event listeners for filter inputs
          $('#part_name, #start_order_number, #end_order_number, #order_count, #part_fund_rate, #next_order_condition, #take_profit_condition, #created_at').on('keyup change', function () {
              table.draw();
          });
      });
  </script>

{% endblock extra_js %}
