{% extends 'layouts/base.html' %}
{% load static %}

{% block extrastyle %}
  <!-- data tables css -->
  <link rel="stylesheet" href="{% static 'assets/css/plugins/dataTables.bootstrap5.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/buttons.bootstrap5.min.css' %}">

  <style>
      .filter-container {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 1rem;
          margin-bottom: 20px;
      }

      .filter-item {
          display: flex;
          flex-direction: column;
      }
  </style>
{% endblock extrastyle %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Ultra Grid Exchange Orders</h5>
          <small>Show List of Ultra Grid Exchange Orders</small>
        </div>
        <div class="card-body">
          <div class="dt-responsive table-responsive">
            <div class="filter-container">
              <div class="filter-item">
                <label for="iteration">Iteration:</label>
                <input class="form-control" type="text" id="iteration" placeholder="Enter iteration" name="iteration">
              </div>
              <div class="filter-item">
                <label for="type">Type:</label>
                <select class="form-control" id="type" name="type">
                  <option value="">Any</option>
                  <option value="Ordinary">Ordinary</option>
                  <option value="Tp">Tp</option>
                  <option value="Sl">Sl</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="orderId">Order ID:</label>
                <input class="form-control" type="text" id="orderId" placeholder="Enter order ID" name="orderId">
              </div>
              <div class="filter-item">
                <label for="base_volume">Base Volume Greater Than:</label>
                <input class="form-control" type="number" step="0.00000001" id="base_volume" name="base_volume">
              </div>
              <div class="filter-item">
                <label for="quote_volume">Quote Volume Greater Than:</label>
                <input class="form-control" type="number" step="0.00000001" id="quote_volume" name="quote_volume">
              </div>
              <div class="filter-item">
                <label for="line_price">Line Price Greater Than:</label>
                <input class="form-control" type="number" step="0.00000001" id="line_price" name="line_price">
              </div>
              <div class="filter-item">
                <label for="order_type">Order Type:</label>
                <select class="form-control" id="order_type" name="order_type">
                  <option value="">Any</option>
                  <option value="Buy">Buy</option>
                  <option value="Sell">Sell</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="place_type">Place Type:</label>
                <select class="form-control" id="place_type" name="place_type">
                  <option value="">Any</option>
                  <option value="Limit">Limit</option>
                  <option value="Market">Market</option>
                </select>
              </div>
              <div class="filter-item">
                <label for="created_at">Created At Greater Than:</label>
                <input class="form-control" type="date" id="created_at" name="created_at">
              </div>
            </div>
          </div>

          <div class="dt-responsive table-responsive">
            <table id="alt-pg-dt" class="table table-striped table-hover table-bordered nowrap">
              <thead>
              <tr>
                <th>#</th>
                <th>Iteration</th>
                <th>Type</th>
                <th>Order ID</th>
                <th>Base Volume</th>
                <th>Quote Volume</th>
                <th>Line Price</th>
                <th>Order Side</th>
                <th>Place Type</th>
                <th>Created At</th>
              </tr>
              </thead>
              <tbody>
              {% for ultra in ultragridexchangeorder_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ ultra.iteration }}</td>
                  <td>{{ ultra.get_type_display }}</td>
                  <td>{{ ultra.orderId }}</td>
                  <td>{{ ultra.base_volume }}</td>
                  <td>{{ ultra.quote_volume }}</td>
                  <td>{{ ultra.line_price }}</td>
                  <td>{{ ultra.get_order_type_display }}</td>
                  <td>{{ ultra.get_place_type_display }}</td>
                  <td>{{ ultra.created_at|date:"m/d/Y" }}</td>
                </tr>
              {% empty %}
                <tr>
                  <td colspan="10" class="text-center">No Ultra Grid Exchange Order found</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.print.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/pdfmake.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/jszip.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.bootstrap5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/buttons.html5.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/vfs_fonts.js' %}"></script>

  <script>
      $(document).ready(function () {
          var table = $('#alt-pg-dt').DataTable({
              "pagingType": "full_numbers",
              dom: 'Bfrtip',
              buttons: ['copy', 'excel', 'pdf', {
                  text: 'JSON',
                  action: function (e, dt, button, config) {
                      var data = dt.buttons.exportData();
                      $.fn.dataTable.fileSave(new Blob([JSON.stringify(data)]), 'Export.json');
                  }
              }, 'colvis']
          });

          $.fn.dataTable.ext.search.push(
              function (settings, data, dataIndex) {
                  var iteration = $('#iteration').val().toLowerCase();
                  var type = $('#type').val();
                  var orderId = $('#orderId').val().toLowerCase();
                  var baseVolume = parseFloat($('#base_volume').val()) || -1;
                  var quoteVolume = parseFloat($('#quote_volume').val()) || -1;
                  var linePrice = parseFloat($('#line_price').val()) || -1;
                  var orderType = $('#order_type').val();
                  var placeType = $('#place_type').val();
                  var createdAt = new Date($('#created_at').val());
                  var rowCreatedAt = new Date(data[9]);

                  return data[1].toLowerCase().includes(iteration) &&
                      (type === "" || data[2] === type) &&
                      data[3].toLowerCase().includes(orderId) &&
                      (baseVolume === -1 || parseFloat(data[4]) >= baseVolume) &&
                      (quoteVolume === -1 || parseFloat(data[5]) >= quoteVolume) &&
                      (linePrice === -1 || parseFloat(data[6]) >= linePrice) &&
                      (orderType === "" || data[7] === orderType) &&
                      (placeType === "" || data[8] === placeType) &&
                      (isNaN(createdAt.getTime()) || rowCreatedAt >= createdAt);
              }
          );

          $('#iteration, #type, #orderId, #base_volume, #quote_volume, #line_price, #order_type, #place_type, #created_at').on('keyup change', function () {
              table.draw();
          });
      });
  </script>
{% endblock extra_js %}
